body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
}

.pizza-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pizza {
  width: 250px;
  padding: 250px 10px 20px;
  background-color: #ffffff;
  background-position: top left;
  background-size: 110%;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 15px;
}

.pizza .card-title {
    color: #70544F;
}
